{% extends 'main.html' %}

{% block title %}
    OATS - Candidate Home Page
{% endblock title %}


{% block top %}
<a href="{% url 'OATS:home' %}">DashBoard</a>
<a href="{% url 'OATS:logout' %}">Logout</a>
{% endblock %}

{% block content %}
<h1>Welcome {{request.session.name}} , to your home page</h1>

<div class="button-link">
    <a href="{% url 'OATS:testPaper' %}?n=1">Test Of 1 Question</a>
</div>


<div class="button-link">
    <a href="{% url 'OATS:testPaper' %}?n=2">Test Of 2 Questions</a>
</div>

<div class="button-link">
    <a href="{% url 'OATS:testPaper' %}?n=3">Test Of 3 Questions</a>
</div>


<div class="button-link">
    <a href="{% url 'OATS:testHistory' %}?n=3">Test History</a>
</div>
{% endblock %}

