* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top {
    height: 50px;
    background-color: darkkhaki;
    margin-bottom: 25px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
}

.top div.sitename {
    display: inline-block;
    color: #0f0f0f;
    position: relative;
    top: -15px;
}

.top div.menu {
    float: right;
}

.top div.menu a {
    color: rgb(1, 35, 1);
    display: inline-block;
    min-width: 50px;
    margin-right: 10px;
}

.top div.menu :hover{
    color: blue;
}

.content{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

table{
    width: 90%;
border: 2px solid black;
}
table tr:nth-child(odd){
    background-color: bisque;
    color: black;
    height: 30px;
}
table tr:nth-child(even){
    background-color: lightblue;
    color: black;
    height: 30px;
}
table tr:first-child{
    background-color: darkkhaki;
}

table td{
    text-align: center;
}

